<%= form_with(model: late, local: true) do |form| %>
  <% if late.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(late.errors.count, "error") %> prohibited this late from being saved:</h2>

      <ul>
      <% late.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.text_field :schedule %>
  </div>

  <div class="field">
    <%= form.label :impediment %>
    <%= form.check_box :impediment %>
  </div>

  <div class="field">
		<%= form.label :user %>
		<%= collection_select(:late, :user_id, User.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
