<p id="notice"><%= notice %></p>

<h1>Lates</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>O que foi realizado hoje?</th>
      <th>Houve impedimento?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lates.each do |late| %>
      <tr>
        <td><%= late.date %></td>
        <td><%= late.schedule %></td>
        <td><%= late.impediment %></td>
        <td><%= link_to 'Ver', late %></td>
        <td><%= link_to 'Editar', edit_late_path(late) %></td>
        <td><%= link_to 'Apagar', late, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Late', new_late_path %>
